{% load static %}
{% block content %}

<!-- ##### Header Area Start ##### -->
<style>
    .user-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%; /* Yuvarlak şekil için */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .dark.classy-nav-container a {
    color: #fff;
}
}

</style>



<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="dream-load"></div>
    </div>
</div>

<header class="header-area">
    <div class="classy-nav-container dark breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'core:home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt="logo"> CV Builder.</a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a href="{% url 'core:home' %}">Home</a></li>
                            <li><a href="{% url 'core:about' %}">About Us</a></li>
                            <li><a href="{% url 'core:contact' %}">Contact</a></li>
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'profile:profile' %}">
                                    <div class="user-icon" id="dropdownIcon">{{ request.user.username|first|upper }}</div>
                                </a>
                            {% endif %}
                        </ul>


                        {% if not request.user.is_authenticated %}
                        <a href="{% url 'accounts:signin' %}" class="btn login-btn mr-im">Log in</a>
                        <a href="{% url 'accounts:signup' %}" class="btn login-btn">Signup </a>
                        {% endif %}

                        
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->



{% endblock %}
