{% extends 'partialsBase/base.html' %}
{% load static %}

{% block title %} Anasayfa {% endblock title %}

{% block content %}


{% include 'core/header.html' %}



  <!-- ##### Welcome Area Start ##### -->
  <section class="welcome_area demo2 flex align-items-center">

      <div class="container">
          <div class="row align-items-center">
              <!-- Welcome Content -->
              <div class="col-12 col-lg-6 col-md-12">
                  <div class="welcome-content v2">
                      <div class="promo-section">
                          <div class="integration-link light">
                              <span class="integration-icon">
                                  <img src="{% static 'img/svg/img-dollar.svg' %}" width="24" height="24" alt="">
                              </span>
                              <span class="integration-text">{{ site_content_header_1 }}</span>
                          </div>
                      </div>
                      <h1 class="wow fadeInUp" data-wow-delay="0.2s">{{ site_content_header_2 }}</h1>
                      <p class="wow fadeInUp" data-wow-delay="0.3s">{{ site_content_content_2 }}</p>
                      <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                          <a href="#" class="btn dream-btn green-btn mr-3">{{ choose_templete }}</a>
                          <a href="{% url 'core:contact' %}" class="btn dream-btn green-btn"> {{ contact }} </a>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-md-12">
                  <div class="banner-box">
                      <img src="{% static 'img/core-img/banner2.png' %}" alt="">
                  </div>
              </div>
             
          </div>
      </div>
  </section>
  <!-- ##### Welcome Area End ##### -->

  <div class="clearfix"></div>

  <section class="demo-video feat section-padding-100 bub-left">
      <div class="container">
          
          <div class="row align-items-center">
              
              <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="services-block-four">
                      <div class="inner-box">
                          <div class="icon-img-box">
                              <img src="{% static 'img/icons/d1.png' %}" alt="">
                          </div>
                          <h3><a href="#">{{ site_content_header_3 }}</a></h3>
                            <div class="text">
                                {{ site_content_content_3 }}
                            </div>
                          
                      </div>
                  </div>
                  <div class="services-block-four">
                      <div class="inner-box">
                          <div class="icon-img-box">
                              <img src="{% static 'img/icons/d2.png' %}" alt="">
                          </div>
                          <h3><a href="#">{{ site_content_header_4 }}</a></h3>
                          <div class="text">
                            {{ site_content_content_4 }}
                          </div>
                      </div>
                  </div>
                  <div class="services-block-four" style="margin-bottom:0">
                      <div class="inner-box">
                          <div class="icon-img-box">
                              <img src="{% static 'img/icons/d3.png' %}" alt="">
                          </div>
                            <h3><a href="#">{{ site_content_header_5 }}</a></h3>
                            <div class="text">
                            {{ 	site_content_content_5}}
                            </div>
                          
                      </div>
                  </div>

              </div>
              <div class="col-12 col-lg-6">
                  <div class="who-we-contant mt-s">
                        <div class="dream-dots">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                        <h4>{{ site_content_header_6 }}</h4>
                        <p>{{ site_content_content_6 }}</p>
                        <a class='btn dream-btn mt-30' href="{% url 'profile:profile' %}">{{ lets_build_your_cv }}</a>

                  </div>
              </div>
          </div>
      </div>
  </section>

      
     
  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-100 clearfix">
      <div class="container">
          <div class="row align-items-center">

              <div class="col-12 col-lg-6">
                  <div class="who-we-contant">
                      <div class="dream-dots">
                          <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                      </div>
                      <h4 class="bold">{{ site_content_header_7 }}</h4>
                      <div class="list-wrap align-items-center">
                          <div class="row">
                              
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">{{ site_content_header_7_1 }}</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">{{ site_content_header_7_2 }}</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">{{ site_content_header_7_3 }}</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">{{ site_content_header_7_4 }}</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">{{ site_content_header_7_5 }}</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">{{ site_content_header_7_6 }}</div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-lg-6">
                  <div class="welcome-meter wow fadeInUp mt-s" data-wow-delay="0.3s">
                      <!-- <img src="{% static 'img/core-img/cv.png' %}" class="center-block" alt=""> -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ##### About Us Area End ##### -->
  
  <div class="clearfix"></div>

  <!-- ##### Area start ##### -->
  <section class="container section-padding-0-100">
      <div class="subscribe">
          <div class="row align-items-center relative">
              <img src="{% static 'img/core-img/custom.png' %}" alt="" class="custom">
              <div class="col-lg-5 col-lg-offset-3 col-md-9 col-xs-12">
                  <h2 class="bold mb-0">{{ site_content_header_8 }}</h2>
              </div>
              <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-12 text-center">
                  <a class='button mt-s' href="{% url 'core:contact' %}">{{ send_a_request }}</a>
              </div>
                        
          </div>
      </div>  
  </section>
  <!-- ##### Area End ##### -->

  

  <!-- ##### Our features Area Start ##### -->
  <section class="our_services_area section-padding-100-70" id="services">
      <div class="container">
          
          <div class="section-heading text-center">
              <!-- Dream Dots -->
              <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                  <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
              </div>
              <h2 class="wow fadeInUp" data-wow-delay="0.3s">{{ our_main_features }}</h2>
          </div>
              

          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'img/icons/f1.png' %}" alt="">
                    </div>
                    <h6>{{ site_content_header_9 }}</h6>
                    <p>{{ site_content_content_9 }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.3s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'img/icons/f2.png' %}" alt="">
                    </div>
                    <h6>{{ site_content_header_10 }}</h6>
                    <p>{{ site_content_content_10 }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'img/icons/f3.png' %}" alt="">
                    </div>
                    <h6>{{ site_content_header_11 }}</h6>
                    <p>{{ site_content_content_11 }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'img/icons/f4.png' %}" alt="">
                    </div>
                    <h6>{{ site_content_header_12 }}</h6>
                    <p>{{ site_content_content_12 }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'img/icons/f5.png' %}" alt="">
                    </div>
                    <h6>{{ site_content_header_13 }}</h6>
                    <p>{{ site_content_content_13 }}</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <!-- Content -->
                <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                    <!-- Icon -->
                    <div class="service_icon">
                        <img src="{% static 'img/icons/f6.png' %}" alt="">
                    </div>
                    <h6>{{ site_content_header_14 }}</h6>
                    <p>{{ site_content_content_14 }}</p>
                </div>
            </div>
        </div>
        
      </div>
  </section>
  <!-- ##### Our features Area End ##### -->

  




{% include 'core/footer.html' %}
{% endblock %}
