{% extends 'partialsBase/base.html' %}
{% load static %}

{% block title %} Anasayfa {% endblock title %}

{% block content %}


{% include 'core/header.html' %}



  <!-- ##### Welcome Area Start ##### -->
  <section class="welcome_area demo2 flex align-items-center">

      <div class="container">
          <div class="row align-items-center">
              <!-- Welcome Content -->
              <div class="col-12 col-lg-6 col-md-12">
                  <div class="welcome-content v2">
                      <div class="promo-section">
                          <div class="integration-link light">
                              <span class="integration-icon">
                                  <img src="{% static 'img/svg/img-dollar.svg' %}" width="24" height="24" alt="">
                              </span>
                              <span class="integration-text">Discover The Easiest ways to Build Your CV!</span>
                          </div>
                      </div>
                      <h1 class="wow fadeInUp" data-wow-delay="0.2s">Online CV Builder With Creative Templates.</h1>
                      <p class="wow fadeInUp" data-wow-delay="0.3s">Our Perfect resume builder takes the hassle out of resume writing. Choose from several templates and follow easy prompts to create the perfect job-ready resume.</p>
                      <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                          <a href="#" class="btn dream-btn green-btn mr-3">Choose Template</a>
                          <a href="#" class="btn dream-btn green-btn"> contact us</a>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-lg-6 col-md-12">
                  <div class="banner-box">
                      <img src="{% static 'img/core-img/banner2.png' %}" alt="">
                  </div>
              </div>
             
          </div>
      </div>
  </section>
  <!-- ##### Welcome Area End ##### -->

  <div class="clearfix"></div>

  <section class="demo-video feat section-padding-100 bub-left">
      <div class="container">
          
          <div class="row align-items-center">
              
              <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="services-block-four">
                      <div class="inner-box">
                          <div class="icon-img-box">
                              <img src="{% static 'img/icons/d1.png' %}" alt="">
                          </div>
                          <h3><a href="#">Easy Online Resume Builder</a></h3>
                          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi assumenda.</div>
                          
                      </div>
                  </div>
                  <div class="services-block-four">
                      <div class="inner-box">
                          <div class="icon-img-box">
                              <img src="{% static 'img/icons/d2.png' %}" alt="">
                          </div>
                          <h3><a href="#">Step by Step Expert Tips</a></h3>
                          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit skaj gjska consectetur adipisicing elit.</div>
                          
                      </div>
                  </div>
                  <div class="services-block-four" style="margin-bottom:0">
                      <div class="inner-box">
                          <div class="icon-img-box">
                              <img src="{% static 'img/icons/d3.png' %}" alt="">
                          </div>
                          <h3><a href="#">Recruiter Approved Phrases</a></h3>
                          <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium modi.</div>
                          
                      </div>
                  </div>

              </div>
              <div class="col-12 col-lg-6">
                  <div class="who-we-contant mt-s">
                      <div class="dream-dots">
                          <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                      </div>
                      <h4>Why Choose Our Platform?</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at dictum risus, non suscipit arcu. Quisque aliquam posuere tortor, sit amet convallis nunc scelerisque in.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eius molestiae facere, natus reprehenderit eaque eum, autem ipsam. Magni, error. Tempora odit laborum iure inventore possimus laboriosam qui nam. Fugit!</p>
                      <a class='btn dream-btn mt-30' href="{% url 'profile:profile' %}">lets build your cv</a>
                  </div>
              </div>
          </div>
      </div>
  </section>

      
     
  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area section-padding-100 clearfix">
      <div class="container">
          <div class="row align-items-center">

              <div class="col-12 col-lg-6">
                  <div class="who-we-contant">
                      <div class="dream-dots">
                          <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                      </div>
                      <h4 class="bold">We Deliver The Best</h4>
                      <div class="list-wrap align-items-center">
                          <div class="row">
                              
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">Proven CV Templates to increase Hiring Chance</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">Creative and Clean Templates Design</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">Easy and Intuitive Online CV Builder</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">Free to use. Developed by hiring professionals.</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">Fast Easy CV and Resume Formatting</div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="side-feature-list-item">
                                      <img src="{% static 'img/icons/check.png' %}" class="check-mark-icon" alt="">
                                      <div class="foot-c-info">Recruiter Approved Phrases.</div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-12 col-lg-6">
                  <div class="welcome-meter wow fadeInUp mt-s" data-wow-delay="0.3s">
                      <!-- <img src="{% static 'img/core-img/cv.png' %}" class="center-block" alt=""> -->
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ##### About Us Area End ##### -->
  
  <div class="clearfix"></div>

  <!-- ##### Area start ##### -->
  <section class="container section-padding-0-100">
      <div class="subscribe">
          <div class="row align-items-center relative">
              <img src="{% static 'img/core-img/custom.png' %}" alt="" class="custom">
              <div class="col-lg-5 col-lg-offset-3 col-md-9 col-xs-12">
                  <h2 class="bold mb-0">Do you Need a Complete Custom CV Template?</h2>
              </div>
              <div class="col-lg-3 col-lg-offset-1 col-md-3 col-sm-12 text-center">
                  <a class='button mt-s' href="{% url 'core:contact' %}">Send a Request</a>
              </div>
                        
          </div>
      </div>  
  </section>
  <!-- ##### Area End ##### -->

  

  <!-- ##### Our features Area Start ##### -->
  <section class="our_services_area section-padding-100-70" id="services">
      <div class="container">
          
          <div class="section-heading text-center">
              <!-- Dream Dots -->
              <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                  <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
              </div>
              <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Main Features</h2>
              <p class="wow fadeInUp" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis accumsan nisi Ut ut felis congue nisl hendrerit commodo.</p>
          </div>
              

          <div class="row">
              <div class="col-12 col-sm-6 col-lg-4">
                  <!-- Content -->
                  <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                      <!-- Icon -->
                      <div class="service_icon">
                          <img src="{% static 'img/icons/f1.png' %}" alt="">
                      </div>
                      <h6>Proven CV Templates to increase Hiring Chance</h6>
                      <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla neque quam, maxim us ut accumsan ut, posuere sit Lorem ipsum adipiscing elit.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                  <!-- Content -->
                  <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                      <!-- Icon -->
                      <div class="service_icon">
                          <img src="{% static 'img/icons/f2.png' %}" alt="">
                      </div>
                      <h6>Creative, Modern and Clean Templates Design</h6>
                      <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla neque quam, maxim us ut accumsan ut, posuere sit Lorem ipsum adipiscing elit.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                  <!-- Content -->
                  <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                      <!-- Icon -->
                      <div class="service_icon">
                          <img src="{% static 'img/icons/f3.png' %}" alt="">
                      </div>
                      <h6>Easy and Intuitive Online CV and Resume Builder </h6>
                      <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla neque quam, maxim us ut accumsan ut, posuere sit Lorem ipsum adipiscing elit.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                  <!-- Content -->
                  <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                      <!-- Icon -->
                      <div class="service_icon">
                          <img src="{% static 'img/icons/f4.png' %}" alt="">
                      </div>
                      <h6>Free to use. Developed by hiring professionals.</h6>
                      <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla neque quam, maxim us ut accumsan ut, posuere sit Lorem ipsum adipiscing elit.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                  <!-- Content -->
                  <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                      <!-- Icon -->
                      <div class="service_icon">
                          <img src="{% static 'img/icons/f5.png' %}" alt="">
                      </div>
                      <h6>Recruiter Approved Phrases with Module Notification</h6>
                      <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla neque quam, maxim us ut accumsan ut, posuere sit Lorem ipsum adipiscing elit.</p>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-4">
                  <!-- Content -->
                  <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                      <!-- Icon -->
                      <div class="service_icon">
                          <img src="{% static 'img/icons/f6.png' %}" alt="">
                      </div>
                      <h6>Fast Easy CV and Resume Formatting</h6>
                      <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Nulla neque quam, maxim us ut accumsan ut, posuere sit Lorem ipsum adipiscing elit.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ##### Our features Area End ##### -->

  




{% include 'core/footer.html' %}
{% endblock %}
