{% load static %}
<!DOCTYPE html>
<html lang="{{ current_language }}">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Cv Builder</title>
    <meta name="description" content="Create and share professional CVs. Fill in your profile information, choose from customizable templates, and generate an impressive CV in minutes with Cv Builder. Stand out in the digital world with a polished resume.">
    <meta name="keywords" content="CV builder, online resume maker, professional CV templates, create a resume, digital resume, resume templates, professional resume, CV examples, resume design, create CV online">


    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon-fonts.css' %}">

    <meta name="author" content="cvbuilder.tech">
    <meta name="publisher" content="cvbuilder.tech">

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          var canonicalLink = document.createElement('link');
          canonicalLink.rel = 'canonical';
          canonicalLink.href = window.location.href;

          document.head.appendChild(canonicalLink);
      });
    </script>

    <meta name="google-site-verification" content="_wjG1zyN1kIjuRjyx52ty9Cdpc_rwjXVuTLGvWbzAkg" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HDJ50NB3XE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HDJ50NB3XE');
    </script>


</head>

<body class="light-version">
    
    {% include 'message.html' %}

    {% block content %}

    {% endblock content %}

        <input type="hidden" id="trans-scroll-up" value="{{ scroll_top }}">


    <script>
      document.addEventListener("DOMContentLoaded", function() {
    // Çeviri verisine erişme
    const scrollUpTranslation = document.getElementById('trans-scroll-up').value;

    // Elementin metnini değiştirme
    const scrollUpElement = document.getElementById('scrollUp');
    scrollUpElement.textContent = scrollUpTranslation;
});
    </script>

    <!-- Login popup form  -->
  
    <!-- ########## All JS ########## -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery js -->
    <script src="{% static 'js/jquery.min.js' %}" ></script>

    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}" ></script>

    

    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

    <!-- All Plugins js -->
    <script src="{% static 'js/plugins.js' %}" ></script>
    <script src="{% static 'js/particles.html' %}" ></script>
    <script src="{% static 'js/app.html' %}" ></script>
    <!-- Parallax js -->
    <script src="{% static 'js/dzsparallaxer.js' %}" ></script>

    <script src="{% static 'js/jquery.syotimer.min.js' %}" ></script>


    <!-- script js -->
    <script src="{% static 'js/script.js' %}" ></script>
    <script src="{% static 'js/function.js' %}" ></script>


</body>


</html>